/****** Custom variables *******/

@font-face {
  font-family: Gilroy-Bold;
  src: url(/Fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(/Fonts/Gilroy-Regular.ttf);
}

:root {
  --primary_clr: rgb(66, 66, 66);
  --accent_clr: #f9efcd;
  --my_white: rgb(225, 242, 217);
  --my_black: #333;

  --fs_primary_heading: 2.5rem;
  --fs_secondary_heading: 1.875rem;

  --ff-primary: "Gilroy-Regular", sans-serif;
  --ff-heading: "Gilroy-Bold", sans-serif;
}

/****** CSS reset *******/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  font-size: 1.2rem;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/****** Utility Classes *******/

/* buttons,containers,lists etc */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1400px, 100% - 2rem);
  margin-inline: auto;
}

.only-mob {
  display: none;
}

.heading {
  font-size: clamp(2rem, 1.5714rem + 1.9048vw, 3rem);
  margin: 2rem auto;
  letter-spacing: 1px;
}

.text-gradient {
  color: transparent;
  background-image: linear-gradient(to left, #30cfd0 0%, #a75eff 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.btn {
  cursor: pointer;
  width: fit-content;
  display: block;
  width: fit-content;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #060914;
  color: whitesmoke;
  border-radius: 0.4rem;
}

button {
  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  margin: 0.8rem auto;
  border-radius: 1rem;
  width: fit-content;
  cursor: pointer;
  border: none;
  color: var(--accent_clr);
  background-color: var(--my_black);
  box-shadow: 0 1.125em 1em -1em var(--clr-accent);
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent);
  box-shadow: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5b5c73;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.logo {
  color: white;
}

header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  color: white;
}

.hero-section {
  flex-wrap: wrap;
  height: 100vh;
}

/* hamburger-menu */

header .container {
  position: relative;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  padding: 0.6rem;
  display: none;
  align-items: center;
  justify-content: center;
}

.hamburger > div {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  height: 2px;
  width: 60%;
  transition: all 0.4s ease;
}

.hamburger > div::before,
.hamburger > div::after {
  content: "";
  position: absolute;
  top: -10px;
  background: white;
  width: 100%;
  height: 2px;
  transition: all 0.4s ease;
}

.hamburger > div::after {
  top: 10px;
}

header.active .hamburger > div {
  background: rgba(0, 0, 0, 0);
}

header.active .hamburger > div::before {
  top: 0;
  transform: rotate(45deg);
}

header.active .hamburger > div::after {
  top: 0;
  transform: rotate(135deg);
}

/* hero-section */

.hero-content {
  width: min(40rem, 90%);
}

.hero-content h1 {
  font-size: clamp(2.5rem, 1.8571rem + 2.8571vw, 4rem);
  margin-block: 4rem 1rem;
  position: relative;
  font-family: var(--ff-heading);
  line-height: 1.2;
  color: transparent;
  background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
  /* background-image: linear-gradient(0.30turn, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%); */
  background-clip: text;
  -webkit-background-clip: text;
}

.hero-content h1::after {
  content: "";
  position: absolute;
  top: -3rem;
  left: 10%;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  filter: blur(6rem);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-img {
  width: min(40rem, 90%);
  position: relative;
}

.hero-img::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 80%;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(-45deg, #ffcc0d 50%, #f29998 50%);
  filter: blur(6rem);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-img::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 15%;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(-45deg, #5778ef 50%, #80ff91 50%);
  filter: blur(6rem);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-social {
  display: flex;
  flex-direction: column;
  background: #fff0b8;
  padding: 2rem;
  padding-top: 0.5rem;
  max-width: 25rem;
  margin-block: 3rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='black' stroke-width='6' stroke-dasharray='7%2c 10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 10px;
  position: relative;
}
/* 
.hero-social::before {
  content: "";
  position: absolute;
  left: 130%;
  top: 120%;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(-45deg, #eb73ff 50%, #ffe583 50%);
  filter: blur(6rem);
  transform: translate(-50%, -50%);
} */

.hero-social::after {
  position: absolute;
  content: "";
  width: 8rem;
  aspect-ratio: 1;
  bottom: 4rem;
  right: -8rem;
  background-repeat: no-repeat;
  background-image: url(/images/Free\ Dotted\ Curved\ Arrow\ Vector.svg);
}

.hero-social ul {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  justify-content: center;
}

.hero-social ul li {
  font-size: 1.5rem;
  background: white;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px 0px yellowgreen;
}

/* services section */

.container-wrapper {
  width: 200vw;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  overflow: scroll;
  justify-content: start;
  justify-items: start;
}

.service-wrapper-1 {
  width: calc(100vw - 4rem);
}

.service-wrapper-2 {
  width: calc(70vw - 6rem);
}

.services-container {
  display: grid;
  gap: 1rem;
  height: 100%;
  grid-template-areas:
    "box-1 box-1 box-2"
    "box-3 box-4 box-2";
}

.service-wrapper-2 .services-container {
  grid-template-areas:
    "box-5 box-5"
    "box-6 box-7";
}

.service-item {
  background-color: #80ff91;
  padding: 1.5rem;
  border-radius: 0.4rem;
  height: -webkit-fill-available;
}

.service-item h3 {
  margin-bottom: 0.2rem;
}

.service-item:nth-child(1) {
  grid-area: box-1;
  background-color: antiquewhite;
}
.service-item:nth-child(2) {
  position: relative;
  grid-area: box-2;
  background-color: #bdd4ff;
}

.service-item:nth-child(2) .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  border-radius: 5rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}
.service-item:nth-child(3) {
  grid-area: box-3;
  background-color: #bbe3df;
}
.service-item:nth-child(4) {
  grid-area: box-4;
  background-color: #ffb1c0;
}

.service-wrapper-2 .service-item:nth-child(1) {
  grid-area: box-5;
  background-color: #cebbfe;
}
.service-wrapper-2 .service-item:nth-child(2) {
  grid-area: box-6;
  background-color: #71edc4;
}
.service-wrapper-2 .service-item:nth-child(3) {
  grid-area: box-7;
  background-color: #ffa5a5;
}

/* About section */

.about-section {
  background-color: #060914;
  height: 110vh;
  margin: 5rem auto;
  border-radius: 0.4rem;
  width: min(1400px, 100% - 2rem);
}

.about-section .container {
  flex-direction: column;
}

.child-container {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
  padding: 2rem;
  color: white;
  border-radius: 0.4rem;
}

.heading-container h2 {
  font-size: clamp(2rem, 1.5714rem + 1.9048vw, 3rem);
  line-height: 1.2;
}

.flex {
  display: flex;
  align-items: center;
}

.since {
  flex-direction: column;
  line-height: 1;
  font-size: 1.4rem;
  color: bisque;
}

.since > span {
  font-size: 2rem;
}

.big {
  font-size: clamp(2.8rem, 2.5rem + 1.3333vw, 3.5rem);
  margin-left: 1rem;
}

.bigger {
  font-size: clamp(3rem, 2.1429rem + 3.8095vw, 5rem);
}

.about-card {
  width: 35%;
  border-left: inset;
  padding-left: 2rem;
  border-left-color: #9e9e9e;
}

.stat-card {
  text-align: center;

  background-color: #ffffff2b;
  padding: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.stat-card-container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.about-img {
  border-radius: 4rem;
  background-color: #30cfd0;
  width: 75%;
  height: 20rem;
}

.about-img img {
  border-radius: 4rem;
  height: 100%;

  object-fit: cover;
}

/* mission section */

.mission-section {
  background-color: aliceblue;
  padding-block: 2rem;
  margin-block: 15rem 5rem;
}

.mission-section .container {
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}

.mission-img {
  width: min(36rem, 100%);

  margin-top: 2rem;
}

.mission-content {
  width: min(45rem, 90%);
}

.mission-content .heading {
  font-size: 1rem;
  margin: 0;
}

.mission-content h3 {
  font-size: clamp(2rem, 1.5714rem + 1.9048vw, 3rem);
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Tech stack section */

.tech-stack-section {
  padding-inline: 2rem;
  display: block;
  margin-bottom: 6rem;
}

.tech-stack-section ul {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
}

.tech-stack-section li {
  font-size: clamp(1.5rem, 1.0714rem + 1.9048vw, 2.5rem);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tech-stack-section li > img {
  max-width: 4rem;
  filter: grayscale(1);
}

/* Innovation section */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
}

.card {
  width: 45%;
  min-height: 20rem;
  border-radius: 2rem;
  background-size: cover;
}

.card:nth-child(1) {
  background-image: url(/images/android-design-1.png);
}
.card:nth-child(2) {
  background-image: url(/images/web-design-1.png);
}
.card:nth-child(3) {
  background-image: url(/images/web-design-2.png);
}
.card:nth-child(4) {
  background-image: url(/images/android-design-2.png);
}

.innovation-section .btn {
  margin: 2rem auto;
}

/* Testimonial section */

.testimonial-section {
  background: aliceblue;
  padding-block: 2rem;
  margin-block: 2rem;
}

.testimonial-section .container {
  flex-wrap: wrap;
  gap: 2rem;
}

figure.snip1192 {
  position: relative;

  max-width: 25rem;
  color: #fff;
  height: 100%;
  text-align: left;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #5b5c73;
  padding: 2rem 5rem 5rem;
  font-size: 0.8em;
  margin: 0 0 -50px;
  height: 95%;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 27px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #485e69;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}

/* Contact section */

.contact-section {
  justify-content: space-around;
  margin-block: 4rem;
  flex-wrap: wrap;
}

.contact-content {
  width: min(40rem, 90%);
}

.contact-content .btn {
  margin-top: 2rem;
}

.contact-us {
  padding: 50px;
  margin: 2rem 0;
  border-radius: 30px;
  position: relative;
  background: linear-gradient(45deg, #27282c, #607d8b);
}

.title h1 {
  color: #535274;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.form,
.form-items {
  width: 100%;
}

.form-items .input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.form-items .input.message {
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
}

.contact-us .btn {
  background: linear-gradient(45deg, #607d8b, #9e9e9e);
  text-align: center;
  color: #fff;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
}

.btn .fas {
  margin-left: 10px;
  font-size: 12px;
}

.form-items {
  position: relative;
}

.form-items .fas {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9a99aa;
}

.social-icons {
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.social-icons div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.social-icons div .fab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.social-icons div.facebook {
  background: #5178d9;
}

.social-icons div.whatsapp {
  background: #25d366;
}

.social-icons div.insta {
  background: linear-gradient(
    115deg,
    rgb(249, 206, 52),
    rgb(238, 42, 123),
    rgb(98, 40, 215)
  );
}

/* Footer section */

footer {
  color: #9ca3af;
  background: #202028;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem 1rem;
  flex-wrap: wrap;
  padding-inline: 1rem;
  align-items: flex-start;
}

.social-section {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-media {
  display: flex;
  gap: 1rem;
  justify-content: start;
}

.footer-heading {
  margin-bottom: 1rem;
  color: #d7d7d7;
}

.copyright-section {
  display: flex;
  justify-content: center;
  padding-block: 1rem;
  border-top: 2px solid #5b5c73;
}

.quick-links a {
  font-size: 1.3rem;
  line-height: 1.4;
}

.subscribe-section form {
  display: flex;
  align-items: center;
}

.subscribe-section input {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.subscribe-section input::placeholder {
  color: rgba(255, 255, 255, 0.811);
  font-size: 1rem;
}

.subscribe-section .btn {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  margin: 0.5rem;
}

footer .btn {
  font-size: 1.5rem;
  margin: 0.5rem auto;
}

.social-media li {
  font-size: 2rem;
  padding: 0.2rem 1rem;
  background: #ffffff29;
  border-radius: 0.5rem;
}

.social-media li:nth-child(1) {
  color: #17a9fd;
}
.social-media li:nth-child(2) {
  color: #fff;
}
.social-media li:nth-child(3) {
  color: #25d366;
}
.social-media li:nth-child(4) a {
  color: transparent;
  background: linear-gradient(
    115deg,
    rgb(249, 206, 52),
    rgb(238, 42, 123),
    rgb(98, 40, 215)
  );
  background-clip: text;
  -webkit-background-clip: text;
}

@media (max-width: 800px) {
  .hamburger {
    display: flex;
  }

  header ul {
    flex-direction: column;
  }

  nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    right: -125%;
    top: 0px;
    padding: 4rem;
    text-align: center;
    background: linear-gradient(295deg, rgb(91 92 115), rgb(21 12 41));
    transition: all 0.5s ease 0s;
  }
  header.active nav {
    right: 0%;
  }

  nav li {
    font-size: 2rem;
  }

  nav button {
    font-size: 1.6rem;
    padding: 0.8rem 1rem;
    background: aliceblue;
    color: black;
  }

  .hero-section,
  .mission-section .container,
  .testimonial-section .container {
    justify-content: center;
  }

  .child-container {
    flex-wrap: wrap;
  }
  .about-card {
    width: 100%;
  }

  .tech-stack-section ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .only-mob {
    display: block !important;
  }
  .hero-section {
    height: 100%;
  }
  .hero-content h1 {
    margin-block: 6rem 1rem;
  }

  .hero-img::before {
    left: 80%;
    height: 10rem;
    width: 10rem;
  }

  .hero-img::after {
    height: 10rem;
    width: 10rem;
  }

  .hero-img,
  .hero-social::after {
    display: none;
  }

  .child-container {
    margin-block: 1rem;
    padding: 0rem;
  }

  .heading-container h2 {
    text-align: center;
  }

  .flex {
    flex-wrap: wrap;

    margin-block: 1.25rem;
    justify-content: center;
  }

  .since {
    display: none;
  }

  .tech-stack-section {
    padding-inline: 0rem;
    display: block;
  }

  .tech-stack-section li > img {
    max-width: 2rem;
  }

  .card-container {
    gap: 2rem;
  }
  .card {
    width: 90%;
  }
}
